body, h1, h2, p, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1d1e25;
  color: #fff;
  text-align: center;
}

.container {
  padding: 5vh 0;
  h1,h2 {
    color: rgb(255, 208, 0);
  }
}

h1 {
  font-size: 5vh;
  margin-bottom: 5vh;
  font-weight: 100;
}

h2 {
  font-size: 3vh;
  color: #ccc;
  margin-bottom: 3vh;
  font-weight: 100;
}

.card {
  margin-top: 10vh;
  background-color: #26262a;
  border-radius: 5vh;
  padding-bottom: 5vh;
  width: 50vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vh;
}

@media (min-width: 1024px) {
  .card {
    margin-top: 10vh;
    background-color: #26262a;
    border-radius: 5vh;
    padding-bottom: 5vh;
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
  }
}

.videos {
  display: flex;
  columns: 1;
  justify-content: center;
  gap: 2vh;
  flex-direction: column;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .videos{
    columns: 2;
    flex-direction: row;
  }
}

.video {
  width: 100%;
}

.secondvid
{
  margin-top: 30px;
}

@media (min-width: 1024px) {
  .secondvid{
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .video {
    width: 40%;
  }
}

.video img {
  width: 100%;
  border-radius: 2vh;
}

.video p {
  margin-top: 1vh;
  font-size: 1rem;
}

.social-links {
  margin-top: 2vh;
  color: yellow;
}

.social-links a,i {
  color: #bbb;
  margin: 0 1vh;
  text-decoration: none;
  font-size: 1.2rem;
}


a:hover,.menu-item:hover,i:hover {
  color: rgb(255, 208, 0);
  transition: 0.5s;
}

.pfp {
  width: 20%;
  border-radius: 50%;
  margin: 2vh;
}

@media (min-width: 1024px) {
  .pfp{
    width: 10%;
  }
}

.menu-item {
  color: #ccc;
  text-shadow: 0.2vh 0.2vh 0 rgba(255, 255, 0, 0.699);
}

.credit {
  font-size: 16px;
  color: #cccccc81;

}
